*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container-navbar{
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  width: 100%;
  height: 60px;
  background-color: lightpink;
}

.menu-icon i{
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  display: none;
}
.menu ul{
  display: flex;
}
.menu ul li, h3{
  list-style-type: none;
  margin-top: 14px;
}

.menu ul li a{
  color: #333;
  text-decoration: none;
  padding: 8px 27px;
  font-size: 22px;
}

.menu ul li a:hover,
.menu ul li a.active{
  background-color: mintcream;
  padding: 8px 27px;
  border-radius: 7px;
}
#click{
  display: none;
}
@media screen and (max-width:576px) {
  nav{
    width: 100%;
    height: 150px;
  }  
  .container-navbar{
    flex-direction: column;
  }
  h3{
    background-color: mintcream;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  h3:hover{
    background-color: orange;
    color: #fff;

  }
  .menu-icon i{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: -71px 0 0 450px;
  }
  #click:checked ~ .menu ul{
    left: 0;
  }
  #click:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  
  .menu ul{
    position: fixed;
    top: 150px;
    left: -100%;
    background-color: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
  }
  .menu ul li{
    padding: 8px 0;
  }
  
  .menu ul li a{
    padding: 8px 27px;
    font-size: 22px;
    color: #fff;
  }
  .menu ul li a:hover,
  .menu ul li a.active{
    color: #333;
  }

} */
body{
  background-image: url("images/1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#okay{
  display: block;
  width: 100%;
  margin: 0 auto;

}
.col-md-12{
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;

}
.main{
  width: 60%;
  height: 400px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
}
@media(max-width: 400px){
  .form-control {
    display: block;
    width: 88%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0 auto;
}
#okay{
  display: block;
  width: 88%;
  margin: 0 auto;

}
}



